<div class="flex flex-col flex-grow items-center text-center p-6 md:p-10">
  <div class="text-lg md:text-xl ring-primary action-button inline-flex items-center">
    「あまピタ度」とは
  </div>

  <div class="text-base md:text-md py-6 md:p-6 leading-loose">
    商品のレビューをする際、<br>
    あなたの甘さ感覚に<br>
    「どれだけ”ピタッ”とハマったか」を<br>
    ５段階で評価します。
  </div>

  <div class="flex items-center justify-center gap-4 px-2 py-10 md:p-10">
    <span class="p-1 md:p-2 rounded-full bg-accent">
      <%= image_tag "smiley-meh.svg", class: "h-7 w-7 md:h-10 md:w-10" %>
    </span>
    <span class="p-1 md:p-2 rounded-full bg-accent">
      <%= image_tag "smiley-blank.svg", class: "h-7 w-7 md:h-10 md:w-10" %>
    </span>
    <span class="relative p-1 md:p-3 rounded-full bg-primary">
      <span class="absolute -top-7 px-10 left-1/2 -translate-x-1/2 text-sm md:text-base whitespace-nowrap">
        ＼ あまピタッ！ ／
      </span>
      <%= image_tag "smiley-wink.svg", class: "h-10 w-10 md:h-13 md:w-13" %>
    </span>
    <span class="p-1 md:p-2 rounded-full bg-secondary">
      <%= image_tag "smiley-nervous.svg", class: "h-7 w-7 md:h-10 md:w-10" %>
    </span>
    <span class="p-1 md:p-2 rounded-full bg-secondary">
      <%= image_tag "smiley-x-eyes.svg", class: "h-7 w-7 md:h-10 md:w-10" %>
    </span>
  </div>

  <div class="text-base md:text-md py-6 md:p-6 leading-loose">
    投稿一覧では、<span class="md:hidden"><br></span>
    ユーザーの「あまピタ度」を<br>
    見ることができます！<br>
  </div>
</div>
