<div class="p-2">
  <div class="flex flex-col flex-grow items-center">
    <div class="relative inline-block">
      <%= image_tag 'title_base.webp', class: "h-30 md:h-54 w-auto" %>
      <%= image_tag 'title_ama.webp', class: "h-40 md:h-67 w-auto absolute -top-2 md:-top-4 left-0" %>
    </div>
    <div class="pt-6 md:pt-8">
      <p class="text-base md:text-xl text-center translate-x-12 md:translate-x-30 inline-block">
      ”ちょうどいい甘さ”って幸せだ！</p>
    </div>
  </div>
</div>

<div class="pt-6 md:p-6">
<!-- Slider main container -->
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide bg-base-100 rounded-4xl"><%= render "top_overview" %></div>
      <div class="swiper-slide bg-base-100 rounded-4xl"><%= render "top_amapita_explanation" %></div>
      <div class="swiper-slide bg-base-100 rounded-4xl"><%= render "top_diagnosis_guide" %></div>
    </div>
    <!--  navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>

  <script>
  document.addEventListener("turbo:load", () => {
    initSwiper();
  });
  function initSwiper() {
    const swiper = new Swiper(".swiper", {
      // Optional parameters
      direction: "horizontal",
      loop: false,
      speed: 600,
      spaceBetween: 20,

      // pagination: {
      //   el: ".swiper-pagination",
      // },

      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  }
  </script>
</div>