<div class="p-1 md:p-4">
  <div class="flex flex-col p-2 w-full max-w-3xl mx-auto bg-base-100 rounded-4xl">
    <h1 class="text-center text-xl md:text-2xl p-4 border-b border-base-200 w-full">
      <%= t('.title') %>
    </h1>
  
    <%= form_with model: @user, url: profile_path, method: :put do |f| %>
      <div class="w-full max-w-md mx-auto p-4">
        <% if @user.errors.any? %>
          <div class="error-messages text-error bg-base-100 p-2 md:p-4 rounded-4xl ring-2 ring-error">
            <ul>
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>

      <div class="w-full flex flex-col items-center justify-center">
        <div class="w-full max-w-3xs md:max-w-2xs mx-auto">
          <!-- ユーザー情報 -->
          <div class="mb-3 md:mb-6">
            <% if @user.avatar.attached? %>
              <%= f.label :avatar, 
                          t('activerecord.attributes.user.current_avatar'), 
                          class: "form-label block text-center" %>
            <% else %>
              <%= f.label :avatar, 
                          t('activerecord.attributes.user.avatar'), 
                          class: "form-label block mb-2" %>
            <% end %>

           <% if @user.avatar.attached? &&
                 @user.avatar.blob.present? &&
                 @user.avatar.blob.persisted? &&
                 @user.avatar.filename.to_s %>
              <div class="flex justify-center p-4">
                <%= @user.decorate.avatar_image(class: "w-15 h-15 md:w-20 md:h-20") %>
              </div>
            <% end %>
            <%= f.file_field :avatar,
                class: "block w-full mx-auto text-xs md:text-sm text-base-200
                        file:mr-4 file:py-2 file:px-2 bg-white rounded-xl 
                        ring-2 ring-[var(--color-base-400)]
                        file:rounded-l-lg
                        file:text-sm
                        file:bg-primary file:transition file:duration-200
                        file:hover:brightness-96
                        file:text-neutral
                        cursor-pointer" %>
          </div>

          <div class="mb-3 md:mb-6">
            <%= f.label :name, class: "form-label" %>
            <%= f.text_field :name, class: "input input-bordered w-full bg-white" %>
          </div>

          <div class="mb-3 md:mb-6">
            <%= t('activerecord.attributes.user.email') %>
            <div class="border-2 border-[var(--color-base-400)] rounded-2xl w-full bg-base-200 py-2 px-3 text-sm">
              <%= @user.email %>
            </div>
            <% if @google_user %>
              <div class="mt-4">
                <label class="form-label"><%=t('.authentication') %></label>
              </div>
              <div class="inline-flex items-center border-2 border-[var(--color-base-400)]
                          bg-white text-bg-neutral rounded-2xl p-3 w-auto">
                <img src="https://developers.google.com/identity/images/g-logo.png"
                    alt="Google Logo" class="h-5 mr-2" />
                <span class="font-roboto text-sm"><%= t('.google') %></span>
                <span class="px-2 text-xs">
                  <span class="font-roboto bg-accent px-3 py-1 rounded-xl">
                    <%= t('.google_user') %>
                  </span>
                </span>
              </div>
            <% end %>
          </div>

          <div class="mb-3 md:mb-6">
            <%= f.label :self_introduction, class: "form-label" %>
            <%= f.text_area :self_introduction, class: "textarea textarea-bordered w-full bg-white", rows: 4 %>
          </div>

      </div>

        <!-- 更新 -->
        <div class="gap-4 p-3">
          <div class="flex justify-center w-full">
            <%= f.submit t('helpers.submit.update'), class: "text-sm md:text-base btn btn-secondary" %>
          </div>
        </div>

        <%=link_to profile_path, class: "p-1" do%>
          <div class="flex justify-center w-full">
            <div class="text-sm md:text-base btn" >
            戻る
          </div>
        <% end %>
      </div> 
    <% end %>
  </div>
</div>
