<div class="pb-12 md:p-4">
  <div class="flex flex-col md:p-2 w-full max-w-3xl mx-auto bg-base-100 rounded-4xl">
    <h1 class="text-center text-lg md:text-xl p-4 border-b border-base-200 w-full">
      <%= t('.title') %>
    </h1>
  
    <%= form_with model: @user, url: profile_path, method: :put do |f| %>
      <div class="flex justify-center text-center w-full max-w-md mx-auto p-4">
        <% if @user.errors.any? %>
          <div class="error-messages text-error bg-base-100 p-2 md:p-4 rounded-4xl ring-2 ring-error">
            <ul>
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>

      <div class="flex flex-col items-center justify-center max-w-86 md:max-w-sm mx-auto">
        <div class="px-4">
          <!-- ユーザー情報 -->
          <div class="mb-4 md:mb-6">
              <p class="pb-2"><%= f.label :avatar, 
                          t('activerecord.attributes.user.current_avatar'), 
                          class: "text-sm lg:text-base form-label block text-center" %></p>
           <% if @user.avatar.attached? &&
                 @user.avatar.blob.present? &&
                 @user.avatar.blob.persisted? &&
                 @user.avatar.filename.to_s %>
              <div class="flex justify-center py-6">
                <%= @user.decorate.avatar_image(class: "size-15") %>
              </div>
          <% else %>
            <div class="flex justify-center pb-4">
              <%= @user.decorate.avatar_image(class: "size-15") %>
            </div>
          <% end %>
          <div class="pt-2 mx-2">
            <%= f.file_field :avatar,
              class: "file-input file-input-secondary text-base-300" %>
            <div class="flex items-center justify-center flex-col text-xs text-stone-400 pb-4">
              <%= t('defaults.image_upload_limit') %>
            </div>
          </div>
          <div class="mt-4 mb-3 px-2">
            <%= f.label :name, class: "form-label" %>
            <%= f.text_field :name, class: "input input-bordered w-full bg-white/80" %>
          </div>

          <div class="my-3 md:my-6 px-2">
            <%= t('activerecord.attributes.user.email') %>
            <div class="border-2 border-base-200 rounded-2xl w-full bg-base-200 py-2 px-3 text-sm">
              <%= @user.email %>
            </div>
            <% if @google_user %>
              <div class="mt-4 px-2">
                <label class="form-label"><%=t('.authentication') %></label>
              </div>
              <div class="inline-flex items-center border-2 border-[var(--color-base-400)]
                          bg-white text-bg-neutral rounded-2xl p-3 w-auto">
                <img src="https://developers.google.com/identity/images/g-logo.png"
                    alt="Google Logo" class="h-5 mr-2" />
                <span class="font-roboto text-sm"><%= t('.google') %></span>
                <span class="px-2 text-xs">
                  <span class="font-roboto bg-accent px-3 py-1 rounded-xl">
                    <%= t('.google_user') %>
                  </span>
                </span>
              </div>
            <% end %>
          </div>

          <div class="my-3 px-2">
            <%= f.label :self_introduction, class: "form-label" %>
            <%= f.text_area :self_introduction, class: "textarea textarea-bordered w-full bg-white/80", rows: 4 %>
          </div>
      </div>

        <!-- 更新 -->
        <div class="p-2">
          <div class="flex justify-center w-full">
            <%= f.submit t('helpers.submit.update'), class: "text-base btn sm:btn-lg btn-secondary" %>
          </div>

        <%=link_to profile_path, class: "pt-6 pb-10" do%>
          <div class="flex justify-center w-full">
            <div class="text-sm md:text-base btn" >
              <%= t('defaults.buttons.return') %>
          </div>
        <% end %>
          </div>
      </div> 
    <% end %>
  </div>
</div>
