<div class="p-1 md:p-4">
  <div class="flex flex-col p-1 items-center justify-center w-full max-w-3xl mx-auto bg-base-100 rounded-4xl">
    <div class="text-center text-lg md:text-2xl p-2 md:p-4 border-b border-base-200 w-full">
      <%= t('.title') %>
    </div>
    <div class="text-sm sm:text-base leading-relaxed text-neutral text-center pt-3 sm:py-6">
      あなたの<span class="sm:hidden"><br></span>「好みの甘さ感覚チャート」が<br>出来上がりました！
    </div>
    <div class="px-2 py-4 sm:py-1 text-neutral">
      <div class="flex justify-center items-end flex-wrap gap-1 md:gap-2 text-base">
        <span class="text-left self-start">あなたは...</span>
        <span class="text-lg font-semibold bg-secondary text-center rounded-xl px-5 py-3 md:px-6 text-base-100 font-noto">
          <%= I18n.t("enums.sweetness_type.sweetness_kind.#{@profile.sweetness_kind}") %>
        </span>
        <span class="text-base text-neutral ml-auto md:ml-0">タイプ✧*</span>
      </div>
    </div>

    <div class="flex w-full justify-end px-10 sm:px-30">
      <%= link_to "https://twitter.com/intent/tweet?url=#{root_url}diagnoses/result/#{@profile.token}&text=#{CGI.escape("【甘さ感覚診断結果】\n＼#{I18n.t("enums.sweetness_type.sweetness_kind.#{@profile.sweetness_kind}")}タイプ／でした！\n\n#甘さ感覚診断\n#あまピタ\n")}",
          target: "_blank",
          rel: "noopener noreferrer" do %>
        <span class="flex flex-row rounded-full bg-base-200 p-2 hover-animation">
          <%= image_tag "x-logo.svg", class: "h-6 w-6" %>
          <p class="pt-1 text-sm">でシェア</p>
        </span>
      <% end %>
    </div>

    <div class="flex justify-center p-4">
        <div class="w-full max-w-xs sm:max-w-md">
        <div class="p-2 border-secondary rounded-3xl bg-white/80 ring-2 ring-stone-200/50">
            <%= render "shared/chart/sweetness_profile_chart",
            chart_id: "radarChart",
            data: [
                @profile.sweetness_strength,
                @profile.aftertaste_clarity,
                @profile.natural_sweetness,
                @profile.coolness,
                @profile.richness,
            ] %>
        </div>
        </div>
    </div>

    <div class="flex flex-col items-center gap-4 pt-4 pb-12">
      <% if user_signed_in? %>
        <div class="flex flex-col sm:flex-row gap-4 sm:gap-2 w-full justify-center">
          <%= link_to posts_path(tab: :recommend), data: { turbo: false }, class: "text-center text-sm button-primary bg-info sm:flex-none hover-animation" do %>
            <span class="flex flex-row gap-1 justify-center">
              <%= image_tag "handshake.svg", class: "h-6 w-6" %>
              <%= t('.sweetness_twin_posts') %>
            </span>
          <% end %>
          <%= link_to categories_path, data: { turbo: false }, class: "text-center text-sm button-primary bg-success sm:flex-none hover-animation" do %>
            <span class="flex flex-row gap-1 justify-center">
              <%= image_tag "cookie.svg", class: "h-6 w-6" %>
              <%= t('.search_button') %>
            </span>
          <% end %>
        </div>
        <div class="flex justify-center w-full">
          <%= link_to new_diagnosis_path, data: { turbo: false }, class: "text-center text-sm button-primary bg-stone-200 hover-animation" do %>
            <span class="flex flex-row gap-1 justify-center">
              <%= t('.retake_diagnosis') %>
            </span>
          <% end %>
        </div>
      <% else %>
        <div class="flex flex-col sm:flex-row gap-4 sm:gap-2 w-full justify-center">
          <%= link_to posts_path, data: { turbo: false }, class: "text-center text-sm button-primary bg-info sm:flex-none hover-animation" do %>
            <span class="flex flex-row gap-1 justify-center">
              <%= image_tag "cookie.svg", class: "h-6 w-6" %>
              <%= t('.explore_reviews') %>
            </span>
          <% end %>
        </div>
        <div class="flex justify-center w-full">
          <%= link_to new_diagnosis_path, data: { turbo: false }, class: "text-center text-sm button-primary bg-stone-200 hover-animation" do %>
            <span class="flex flex-row gap-1 justify-center">
              <%= t('.retake_diagnosis') %>
            </span>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>
</div>
