<div class="p-1 md:p-4">
  <div class="flex flex-col p-1 items-center justify-center w-full max-w-3xl mx-auto bg-base-100 rounded-4xl">
    <div class="text-center text-lg md:text-2xl p-2 md:p-4 border-b border-base-200 w-full">
      <%= t('.title') %>
    </div>
    <div class="text-base leading-relaxed text-neutral text-center p-3">
      あなたの<span class="sm:hidden"><br></span>「好みの甘さ感覚チャート」が<br>出来上がりました！
    </div>
    <div class="px-2 py-4 md:py-6 text-neutral">
      <div class="flex justify-center items-end flex-wrap gap-1 md:gap-2 text-base">
        <span class="text-left self-start">あなたは...</span>
        <span class="text-xl bg-primary text-center rounded-xl px-5 py-3 md:px-6 text-base-100">
          <%= I18n.t("enums.sweetness_type.sweetness_kind.#{@profile.sweetness_kind}") %>
        </span>
        <span class="text-base text-neutral ml-auto md:ml-0">タイプ</span>
      </div>
    </div>

    <div class="flex justify-center p-4">
        <div class="w-full max-w-md">
        <div class="p-4 border-secondary rounded-3xl bg-white">
            <%= render "shared/chart/sweetness_profile_chart",
            chart_id: "radarChart",
            data: [
                @profile.sweetness_strength,
                @profile.aftertaste_clarity,
                @profile.natural_sweetness,
                @profile.coolness,
                @profile.richness,
            ] %>
        </div>
        </div>
    </div>

    <div class="flex flex-col items-center gap-2 sm:gap-6 pt-4 pb-6">
      <%= link_to "#", class: "flex flex-col items-center text-center text-sm button-primary bg-base-200 btn-accent opacity-60 pointer-events-none" do %>
        X でシェア
        <span class="text-sm text-center text-error">※ 準備中</span>
      <% end %>
      <div class="flex flex-row items-center gap-4">
        <%= link_to posts_path, data: { turbo: false }, class: "text-center text-sm button-primary bg-primary" do %>
          <%= raw t('defaults.buttons.post_index') %>
        <% end %>
        <%= link_to categories_path, data: { turbo: false }, class: "text-center text-sm button-primary bg-accent" do %>
          <%= raw t('defaults.buttons.category_index') %>
        <% end %>
      </div>
    </div>
  </div>
</div>
