<%= link_to notification_path(notification),
            data: { turbo_method: :patch, controller: "from-post" },
            class: "block w-full border-b border-base-200 px-1 sm:px-4 py-3 hover:opacity-80" do %>
  <div class="flex flex-row items-start gap-2 mb-1">
    <!-- アイコン -->
    <div class="flex-shrink-0">
      <%= notification.sender.decorate.avatar_image(class: "size-8 md:size-10") %>
    </div>

    <!-- 通知文 -->
    <div class="flex-1 text-xs md:text-sm md:mt-2 leading-relaxed <%= notification_text_class(notification) %>">
      <span><%= notification.sender.name %></span>
      さんが
      <% if notification.notifiable_type == "Like" && notification.notifiable&.post %>
        あなたの投稿「<%= notification.notifiable.post.product.name %>」にいいねしました。
      <% elsif notification.notifiable_type == "Comment" && notification.notifiable&.post %>
        あなたの投稿「<%= notification.notifiable.post.product.name %>」にコメントしました。
      <% else %>
        <%= t('.no_posts') %>
      <% end %>
    </div>
  </div>

  <!-- 作成日時 -->
  <div class="flex justify-end text-sm mt-1 <%= notification_text_class(notification) %>">
    <time class="text-xs">
      <%= l notification.created_at, format: "%-m月%-d日 %H:%M" %>
    </time>
  </div>
<% end %>
