<div class="p-1 md:p-4">
  <div class="flex flex-col p-1 items-center justify-center w-full max-w-3xl mx-auto bg-base-100 rounded-4xl">
    <h1 class="text-center text-lg md:text-xl p-2 md:p-4 border-b border-base-200 w-full">
      <%= t('.title') %>
    </h1>

    <% if @notifications.present? %>
    <div class="flex flex-col items-center max-w-2xl p-1 md:py-2 md:px-10">
      <div class="flex flex-col w-full items-end p-1">
        <%= link_to t('.mark_all_as_read'),
            mark_all_as_read_notifications_path,
            data: { turbo_method: :patch },
            class: "btn btn-sm btn-outline btn-secondary" %>
      </div>
        <%= render @notifications %>
      </div>
      <div class="m-4">
        <%== pagy_nav(@pagy) %>
      </div>
    <% else %>
      <div class="p-6 text-base">
        <%= t('.no_notifications') %>
      </div>
    </div>
    <% end %>
  </div>
</div>

