<main class="container flex-1 pt-4 pb-14 sm:p-4 mx-auto flex items-center justify-center">
  <div class="w-full max-w-lg bg-base-100 rounded-3xl px-4 md:px-15 md:py-2">
    <div class="mb-6 text-center">
      <h2 class="text-xl md:text-2xl text-neutral font-bold pt-4"><%= t('.title') %></h2>
    </div>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="form-control mb-2 sm:mb-4 p-2">
        <div class="pl-2 pb-1">
          <%= t('.new_password') %>
        </div>
        <%= f.password_field :password,
            autofocus: true,
            autocomplete: "new-password",
            class: "input input-bordered w-full h-10 md:h-12 rounded-full px-4 focus:outline-none" %>
        <% if @minimum_password_length %>
          <p class="text-sm pl-3 pt-1 text-base-300">半角英数字・<%= @minimum_password_length %>文字以上</p>
        <% end %>
      </div>

      <div class="form-control mb-2 sm:mb-4 p-2">
        <div class="pl-2 pb-1">
          <%= t('.password_confirmation') %>
        </div>
        <%= f.password_field :password_confirmation,
            autocomplete: "new-password",
            placeholder: t('activerecord.attributes.user.password_confirmation'),
            class: "input input-bordered w-full h-10 md:h-12 rounded-full px-4 focus:outline-none" %>
      </div>

      <div class="form-control flex justify-center py-4">
        <%= f.submit t('.change_password'), class: "bg-accent button-primary" %>
      </div>
    <% end %>

  </div>
</main>
