<footer class="fixed bottom-0 w-full px-4 py-4">
  <div class="dock bg-base-100 dock-xs md:dock-lg border-t border-base-300">
    <%= link_to root_path, class: "flex flex-col items-center justify-center leading-none" do %>
      <span class="p-2 rounded-full md:hover:bg-base-200">
      <%= image_tag "house.svg", class: "h-7 w-7 md:h-8 md:w-8" %>
      </span>
    <% end %>

    <%= link_to "#", class: "flex flex-col items-center justify-center leading-none" do %>
      <span class="p-2 rounded-full md:hover:bg-base-200">
      <%= image_tag "magnifying_glass.svg", class: "h-7 w-7 md:h-8 md:w-8" %>
      </span>
    <% end %>

    <%= link_to new_post_path, class: "flex flex-col items-center" do %>
      <span class="p-2 rounded-full md:hover:bg-base-200">
      <%= image_tag "plus_circle.svg", class: "icon-size" %>
      </span>
    <% end %>

   <%= link_to "#", class: "flex flex-col items-center justify-center leading-none" do %>
      <span class="p-2 rounded-full md:hover:bg-base-200">
      <%= image_tag "bell.svg", class: "h-7 w-7 md:h-8 md:w-8" %>
      </span>
    <% end %>

    <%= link_to "#", class: "flex flex-col items-center justify-center leading-none" do %>
      <span class="p-2 rounded-full md:hover:bg-base-200">
      <%= image_tag "user_circle.svg", class: "h-7 w-7 md:h-9 md:w-9" %>
      </span>
    <% end %>
  </div>
</footer>