<% if products.present? %>
  <% products.each do |product| %>
    <div class="relative w-full border-b border-stone-300 last:border-b-0 py-2">
      <div class="flex flex-row items-center p-1 sm:px-10">
        <!-- 画像 -->
        <figure x-data="{ imageLoaded: false }"
                x-init="imageLoaded = $el.querySelector('img')?.complete || false">
          <div x-cloak x-show="!imageLoaded" class="flex animate-pulse space-x-4">
            <div class="p-0.5 sm:py-4 sm:px-8">
              <div class="size-20 sm:size-30 rounded-xl bg-stone-300"></div>
            </div>
          </div>

          <div x-show="imageLoaded" x-transition>
            <div class="p-0.5 sm:py-4 sm:px-8">
              <%= product.decorate.product_image(
                    class: "size-20 sm:size-30",
                    "@load" => "imageLoaded = true",
                    "@error" => "imageLoaded = true"
                  ) %>
            </div>
          </div>
        </figure>

        <div class="flex-1 w-full flex flex-col items-center sm:items-start p-0.5 sm:p-1 pl-2">
          <div class="sm:py-1 w-full">
            <div class="flex justify-between items-start w-full">
              <p class="text-xs sm:text-sm text-base-300 text-center sm:text-left pb-0.5 pl-2 sm:pl-0 sm:pb-1">
                <%= product.manufacturer %>
              </p>

              <% if user_signed_in? %>
                <div class="absolute top-3 right-5 sm:top-7 sm:right-28">
                  <%= render 'products/bookmark_buttons', { product: product } %>
                </div>
              <% end %>
            </div>

            <%= product_link(category, product, class: "hover:opacity-70 w-full") do %>
              <p class="text-sm sm:text-lg text-center sm:text-left pt-1 pb-2 sm:pb-3 max-w-[200px] sm:max-w-xl">
                <%= product.name %>
              </p>
              <div class="absolute top-14 right-0 sm:right-8 sm:top-20">
                <span class="gap-1">
                  <%= image_tag "arrow.svg", class: "h-6 w-6 ml-1" %>
                </span>
              </div>
            <% end %>
          </div>

          <% stats = product_stats&.dig(product.id) || { total_posts: 0, perfect_sweetness_count: 0 } %>

          <% if stats[:total_posts].positive? %>
            <div class="p-0.5">
              <div class="flex flex-row items-center sm:gap-1 w-fit justify-center sm:justify-start amapita-count-ring ring-primary mx-auto sm:mx-0">
                <%= image_tag "smiley-wink.svg", class: "size-6 sm:size-7" %>
                <p class="text-sm sm:text-base">
                  <%= t("defaults.label.stats", count: stats[:total_posts], perfect: stats[:perfect_sweetness_count]) %>
                </p>
              </div>
            </div>
          <% else %>
            <div class="p-0.5 sm:pl-6">
              <div class="flex flex-row items-center gap-0.5 sm:gap-1 w-fit justify-center sm:justify-start amapita-count-ring ring-stone-300/90 mx-auto sm:mx-0">
                <%= image_tag "smiley-blank.svg", class: "size-6 sm:size-7" %>
                <p class="text-xs sm:text-base"><%= raw t('defaults.label.no_rating') %></p>
              </div>

              <% if show_new_post_button?(product) %>
                <div class="mt-3 text-center">
                  <% if user_signed_in? %>
                    <%= link_to new_post_path(product_id: product.id),
                                class: "bg-info rounded-full px-3 py-2 sm:px-4 inline-flex items-center shadow-sm transition hover-animation gap-2" do %>
                      <%= image_tag "cookie.svg", class: "size-5 sm:size-6" %>
                      <span class="text-xs sm:text-sm"><%= t('defaults.buttons.new_post') %></span>
                    <% end %>
                  <% else %>
                    <div class="bg-info rounded-full px-3 py-2 sm:px-4 inline-flex items-center shadow-sm transition hover-animation gap-2 tooltip tooltip-top"
                        data-tip="<%= t('defaults.require_login') %>">
                      <%= image_tag "cookie.svg", class: "size-5 sm:size-6" %>
                      <span class="text-xs sm:text-sm"><%= t('defaults.buttons.new_post') %></span>
                    </div>
                  <% end %>
                </div>
              <% end %>

            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="flex items-center justify-center p-4">
    <%== pagy_nav(pagy) %>
  </div>
<% else %>
  <div class="flex flex-col justify-center gap-1 md:gap-5 p-2 md:p-4 items-center text-center text-xs md:text-sm">
    <%= image_tag "smiley-x-eyes-fill.svg", class: "h-15 w-15 md:h-20 md:w-20" %>
    <div class="mb-3"><%= t('defaults.message.no_product') %></div>
  </div>
<% end %>
