    <div class="p-1 sm:p-6">
      <div class="tabs tabs-border justify-center w-full">
        <!-- 投稿 -->
        <a href="<%= profile_path(tab: 'posts') %>" 
            class="tab text-sm md:text-base text-accent hover:text-accent <%= 'tab-active' if active_tab == 'posts' %>">
            <%= t('profiles.tabs.posts') %>
        </a>

        <!-- いいね -->
        <a href="<%= profile_path(tab: 'liked_posts') %>" 
            class="tab text-sm md:text-base text-primary hover:text-primary <%= 'tab-active' if active_tab == 'liked_posts' %>">
            <%= t('profiles.tabs.liked_posts') %>
        </a>
        </div>

        <!-- タブコンテンツ -->
        <div class="w-full">
        <% if active_tab == 'posts' %>
        <div class="border-3 border-accent bg-white rounded-4xl w-full p-1 sm:p-2">
            <div class="flex flex-col mx-auto items-center justify-center text-sm text-base-300 sm:text-base w-full">
                <% if posts.present? %>
                <%= render posts %>
                <div class="flex items-center justify-center p-4">
                    <%== pagy_nav(pagy_posts, link_extra: 'data-turbo-action="replace"', params: { tab: 'posts' }) %>
                </div>
                <% else %>
                <p class="p-4"><%= t('profiles.empty_states.no_posts') %></p>
                <% end %>
            </div>
        </div>
        <% elsif active_tab == 'liked_posts' %>
        <div class="border-3 border-primary bg-white rounded-4xl w-full p-1 sm:p-2">
            <div class="flex flex-col mx-auto items-center justify-center text-sm text-base-300 sm:text-base w-full">
                <% if likes.present? %>
                <%= render "posts/liked_posts", posts: likes %>
                <div class="flex items-center justify-center p-4">
                    <%== pagy_nav(pagy_likes, link_extra: 'data-turbo-action="replace"', params: { tab: 'liked_posts' }) %>
                </div>
                <% else %>
                <p class="p-4"><%= t('profiles.empty_states.no_liked_posts') %></p>
                <% end %>
            </div>
        </div>
        <% end %>
        </div>
      </div>
  </div>
</div>
