<div class="p-1 sm:p-4">
  <div class="flex flex-col p-1 sm:p-2 w-full sm:max-w-3xl mx-auto bg-base-100 rounded-4xl">
    <h1 class="text-center text-xl md:text-2xl p-4 border-b border-base-200 w-full">
      <%= user == current_user ? t('profiles.show.title') : t('profiles.info') %>
    </h1>

    <!-- ユーザー情報 -->
    <div class="flex flex-col justify-center items-center sm:flex-row sm:items-start sm:gap-6 w-full py-4">
      <%= render "shared/loading" %>
      <div class="p-3">
        <%= user.decorate.avatar_image(
              class: "size-15 sm:size-20",
              data: { "loader-target": "true" }
            ) %>
      </div>

      <div class="flex flex-col justify-center items-center gap-2 md:gap-4 text-neutral py-4 px-2">
        <div class="text-base md:text-xl break-words">
          <div class="flex flex-col items-start gap-2">
            <span><%= user.name %></span>
            <% if user_signed_in? && user != current_user && sweetness_twin?(user) %>
              <span class="flex flex-row gap-1 text-xs rounded-full items-center px-2 py-1 bg-info w-fit">
                <%= image_tag "handshake.svg", class: "h-4 w-4" %>
                <%= display_sweetness_twin_badge(user) %>
              </span>
            <% end %>
            <% if display_post_badge(user).present? %>
              <span class="flex flex-row gap-1 text-xs rounded-full px-2 py-1 bg-success items-center">
                <%= image_tag "badge.svg", class: "h-5 w-5" %>
                <%= display_post_badge(user) %>
              </span>
              <% if user == current_user %>
              <span class="text-sm">
                <%= t('profiles.total_post', count: user.posts.publish.count) %>
                  <div class="dropdown dropdown-down dropdown-end dropdown-hover pl-1">
                    <div tabindex="0" role="button" class="btn btn-xs btn-white btn-circle">?</div>
                      <ul tabindex="0" class="dropdown-content menu bg-base-100 text-base-300 rounded-box z-[1] w-30 p-1 shadow-sm text-xs">
                        <li><a><%= t('defaults.dropdown.privacy_notice') %></a></li>
                      </ul>
                  </div>
              </span>
              <% end %>
            <% end %>
          </div>
        </div>

        <div class="text-sm md:text-base break-words max-w-[20ch] md:min-h-[1.5rem]">
          <%= user.self_introduction.presence || "" %>
        </div>

        <!-- 編集 -->
        <% if user == current_user %>
          <div class="flex w-full mt-2 justify-center sm:justify-end">
            <%= link_to edit_profile_path, class: "text-sm btn btn-outline btn-accent", data: { turbo: false } do %>
              <%= t('helpers.submit.edit') %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <!-- チャート -->
    <% if sweetness_profiles.present? %>
      <div class="flex justify-center pb-4 w-full">
        <div class="w-full max-w-md md:max-w-lg p-2 rounded-3xl bg-white">

          <div class="flex justify-end text-sm md:text-base font-bold mb-2">
            <span class="rounded-xl bg-secondary text-white px-3 py-2 text-sm md:text-base">
              <%= I18n.t("enums.sweetness_type.sweetness_kind.#{sweetness_type.sweetness_kind}") %>
            </span>
          </div>

          <div class="mx-auto w-full max-w-md">
            <%= render "shared/chart/sweetness_profile_chart",
                chart_id: chart_id,
                data: [
                  sweetness_profiles.sweetness_strength,
                  sweetness_profiles.aftertaste_clarity,
                  sweetness_profiles.natural_sweetness,
                  sweetness_profiles.coolness,
                  sweetness_profiles.richness,
                ] %>
          </div>

          <div class="flex justify-end text-xs md:text-sm pb-4 text-base-200">
            <%= t('profiles.diagnosis.latest_date') %>：
            <%= l sweetness_profiles.created_at %>
          </div>

          <% if user == current_user %>
            <div class="flex justify-end">
              <%= link_to new_diagnosis_path, class: "text-sm bg-success button-primary hover-animation", data: { turbo: false } do %>
                <%= t('defaults.buttons.retake_diagnosis') %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% else %>
      <% if user == current_user %>
        <div class="text-center py-6 text-sm md:text-base text-base-200">
          <%= raw t('profiles.diagnosis.no_data') %>
        </div>
        <div class="flex justify-center">
          <%= link_to new_diagnosis_path, class: "text-sm bg-success button-primary hover-animation", data: { turbo: false } do %>
            <%= t('defaults.buttons.take_diagnosis') %>
          <% end %>
        </div>
      <% end %>
    <% end %>
