<main class="container flex-1 pt-4 pb-14 sm:p-4 mx-auto flex items-center justify-center">
  <div class="w-full max-w-lg bg-base-100 rounded-3xl p-4 md:px-15 md:py-2 mx-auto flex flex-col items-center">
    <div class="flex flex-row items-center justify-center py-3 sm:py-6">
      <h2 class="text-xl md:text-2xl text-neutral"><%= t('.title') %></h2>
    </div>

    <div class="py-4 text-center">
      <%= render "devise/shared/links" %>
    </div>

    <div class="flex items-center w-full py-2">
      <div class="flex-grow border-t border-stone-300"></div>
      <span class="mx-4 text-stone-400 text-sm"><%= t('defaults.or') %></span>
      <div class="flex-grow border-t border-stone-300"></div>
    </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="w-full flex justify-center">
        <%= render "devise/shared/error_messages", resource: resource %>
      </div>

      <div class="w-65 sm:w-70">
        <fieldset class="fieldset my-2">
          <legend class="fieldset-legend pl-2 pb-1">
            <%= image_tag "envelope.svg", class: "h-5 w-5" %>
            <%= f.label :email, class: "text-base sm:text-sm " %>
          </legend>

          <%= f.email_field :email,
              autofocus: true,
              autocomplete: "email",
              placeholder: t('defaults.placeholders.sample_email'),
              class: "input focus:outline-none" %>
        </fieldset>

        <fieldset class="fieldset my-2" data-controller="password-visibility">
          <legend class="fieldset-legend pl-2 pb-1">
            <%= image_tag "lock-key.svg", class: "h-5 w-5" %>
            <%= f.label :password, class: "text-base sm:text-sm" %>
            <p class="label text-stone-400 text-xs pl-2"><%= t('defaults.password_format') %></p>
          </legend>

          <%= f.password_field :password,
              autocomplete: "current-password",
              class: "input focus:outline-none",
              data: { 
                password_visibility_target: "input"
              } %>
          
          <div class="flex items-center justify-between">
            <label class="label cursor-pointer gap-2 py-1 pl-1">
              <input type="checkbox" 
                    class="toggle toggle-xs border-stone-300/90 bg-stone-200 checked:border-stone-400 checked:bg-stone-300"
                    data-password-visibility-target="checkbox"
                    data-action="password-visibility#update">
              <span class="label-text text-xs text-stone-400"><%= t('defaults.password_visibility') %></span>
              
            </label>
          </div>
        </fieldset>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="form-control pl-1 py-3">
          <label class="inline-flex items-center">
            <%= f.check_box :remember_me, class: "checkbox checkbox-xs checkbox-secondary mr-2" %>
            <%= f.label :remember_me, class: "text-sm" %>
          </label>
        </div>
      <% end %>

      <div class="form-control flex justify-center pt-2">
        <%= f.submit t('.login'), class: "bg-accent button-primary" %>
      </div>
    <% end %>

    <div class="flex flex-col items-center p-8 gap-5 text-sm">
      <div class="flex justify-center text-neutral">
        <%= link_to new_user_registration_path, class: "underline-offset-4 hover:underline transition-all" do %>
          <%= t('.to_register_page') %>
        <% end %>
      </div>
      <div class="flex justify-center text-neutral">
        <%= link_to new_user_password_path, class: "underline-offset-4 hover:underline transition-all" do %>
          <%= t('.password_forget') %>
        <% end %>
      </div>
    </div>

  </div>
</main>
