<main class="container flex-1 pt-4 pb-14 sm:p-4 mx-auto flex items-center justify-center">
  <div class="w-full max-w-lg bg-base-100 rounded-3xl px-4 md:px-15 md:py-2">
    <div class="mb-6 text-center">
      <h2 class="text-xl md:text-2xl text-neutral font-bold pt-4"><%= t('.title') %></h2>
    </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-control mb-2 sm:mb-4 p-2">
        <%= f.email_field :email, autofocus: true, autocomplete: "email",
            placeholder: t('activerecord.attributes.user.email'),
            class: "input input-bordered w-full h-10 md:h-12 rounded-full px-4 py-2 focus:outline-none" %>
      </div>

      <div class="form-control mb-2 sm:mb-4 p-2">
        <%= f.password_field :password, autocomplete: "current-password",
            placeholder: t('activerecord.attributes.user.password'),
            class: "input input-bordered w-full h-10 md:h-12 rounded-full px-4 py-2 focus:outline-none" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="form-control pl-4">
          <label class="inline-flex items-center">
            <%= f.check_box :remember_me, class: "checkbox checkbox-sm checkbox-secondary mr-2" %>
            <%= f.label :remember_me, class: "text-sm" %>
          </label>
        </div>
      <% end %>

      <div class="form-control flex justify-center pt-4">
        <%= f.submit t('.login'), class: "bg-accent button-primary" %>
      </div>
    <% end %>

    <div class="flex flex-col items-center p-8 gap-5 text-sm">
      <div class="flex justify-center text-neutral">
        <%= link_to new_user_registration_path, class: "underline-offset-4 hover:underline transition-all" do %>
          <%= t('.to_register_page') %>
      <% end %>
      </div>
      <div class="flex justify-center text-neutral">
        <%= link_to new_user_password_path, class: "underline-offset-4 hover:underline transition-all" do %>
          <%= t('.password_forget') %>
      <% end %>
      </div>
    </div>

    <div class="flex items-center">
      <div class="flex-grow border-t border-base-200"></div>
        <span class="mx-4 text-stone-400 text-sm"><%= t('.or') %></span>
      <div class="flex-grow border-t border-base-200"></div>
    </div>

    <div class="pt-3 pb-12 text-center">
      <%= render "devise/shared/links" %>
    </div>

  </div>
</main>

