<div class="justify-center text-center rounded-4xl m-4">
  <%= form_with(model: @product, 
                url: @product.new_record? ? admin_products_path : admin_product_path(@product),
                local: true, class: "p-4 md:p-2 space-y-6") do |f| %>

    <% if @product.errors.any? %>
      <div class="error-messages text-error bg-base-100 p-2 md:p-4 rounded-4xl ring-2 ring-error">
        <ul>
          <% @product.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-control flex flex-col">
      <div class="flex flex-row justify-center py-2 gap-1">
        <%= f.label :image, t('activerecord.attributes.product.image'), class: "label p-2 text-neutral" %>
        <span class="text-error">*</span>
      </div>
      <%= f.file_field :image,
            class: "file-input file-input-secondary file-input text-base-300" %>
    </div>

    <div class="form-control">
      <div class="label p-2 text-neutral flex justify-center items-center space-x-1">
        <%= f.label :name %>
        <span class="text-error">*</span>
      </div>
      <%= f.text_field :name, class: "input input-bordered" %>
    </div>

    <div class="form-control">
      <div class="label p-2 text-neutral flex justify-center items-center space-x-1">
        <%= f.label :product_url %>
      </div>
        <%= f.text_field :product_url, class: "input input-bordered" %>
    </div>

    <div class="form-control">
      <div class="label p-2 text-neutral flex justify-center items-center space-x-1">
        <%= f.label :manufacturer %>
        <span class="text-error">*</span>
      </div>
      <%= f.text_field :manufacturer, 
            class: "input input-bordered" %>
    </div>

    <div class="form-control">
      <div class="label p-2 text-neutral flex justify-center items-center space-x-1">
        <%= f.label :category_id %>
        <span class="text-error">*</span>
      </div>
      <%= f.select :category_id,
            options_from_collection_for_select(
              Category.where(name: I18n.t('categories.list')).order(:id),
              :id, :name, @product&.category_id
            ),
            { prompt: t("defaults.select.category") },
            class: "select select-bordered" %>
    </div>

    <div class="form-control p-6">
      <%= f.submit f.object.new_record? ? t('helpers.submit.create') : t('helpers.submit.update'),
            class: "text-base btn-lg btn btn-primary" %>
    </div>

  <% end %>
</div>
