<%= search_form_for q, url: admin_products_path, method: :get,
    class: 'p-1 md:p-4 flex justify-center',
    data: { search_clear_target: "form" } do |f| %>

  <div class="bg-base-100 rounded-4xl p-4 max-w-md md:max-w-4xl mx-auto flex flex-col items-center gap-4">

    <!-- キーワード検索 -->
    <div class="flex flex-row items-stretch md:items-center gap-1 md:gap-3 w-full">
      <%= f.search_field :name_or_category_name_or_manufacturer_cont, 
        class: "flex-1 bg-white/80 p-2 rounded-4xl ring-2 w-full md:w-100 ring-[var(--color-base-400)] text-sm px-4",
        placeholder: t('defaults.placeholders.search_word'),
        data: { search_clear_target: "input" } %>

        <%= f.submit t('helpers.submit.search'), class: "btn btn-secondary" %>

        <button type="button" onclick="location.href='<%= url_for(only_path: true) %>'"class="btn">
          <%= t('helpers.submit.clear') %>
        </button>
    </div>

    <!-- 詳細検索 -->
    <div class="w-full">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 px-8 md:px-6">

          <!-- カテゴリ -->
          <div class="col-span-1">
            <%= f.select :category_name_eq,
                  I18n.t('categories.list'),
                  { include_blank: t('activerecord.models.category') },
                  class: "select w-full text-sm bg-white/80 py-2",
                  data: { search_clear_target: "select" } %>
          </div>

          <!-- メーカー -->
          <div class="col-span-1">
            <%= f.select :manufacturer_eq,
                  I18n.t('products.manufacturers.list'),
                  { include_blank: t('activerecord.attributes.product.manufacturer') },
                  class: "select w-full text-sm bg-white/80",
                  data: { search_clear_target: "select" } %>
          </div>
        </div>
    </div>
    <%= t('admin.products.search_form.total_count', count: @total_count) %>
  </div>
<% end %>
