<input type="checkbox" id="badge-modal" class="modal-toggle" checked>
<div class="modal">
  <div class="modal-box relative bg-success justify-center">
    <p class="text-base mb-4 text-center">
      <%= t('defaults.badge_modal.title') %>
    </p>
    <h3 class="text-center text-xl font-semibold mb-6">
      <%= t('defaults.badge_modal.message', badge_name: flash[:badge_awarded]) %>
    </h3>
    <div class="flex flex-col justify-center items-center gap-2">
      <%= image_tag "smiley-wink.svg", class: "h-8 w-8" %>
      <p class="text-xs md:text-sm mb-6 text-center">
        <%= t('defaults.badge_modal.thanks_message') %>
      </p>
    </div>
    <div class="flex justify-center">
      <label for="badge-modal" class="text-sm btn">
        <%= t('defaults.buttons.close') %>
      </label>
    </div>
  </div>
</div>
