<%= f.hidden_field :product_id, value: @post.product.id %>
<div class="flex justify-center w-full">
  <div class="p-3 rounded-4xl text-sm text-neutral w-fit ring-base-200 ring-2">
    <span class="text-left inline-block leading-loose">
      <p><%= t('activerecord.attributes.product.name') %>：<%= @post.product.name %></p>
      <p><%= t('activerecord.attributes.product.manufacturer') %>：<%= @post.product.manufacturer %></p>
      <p><%= t('activerecord.attributes.product.category_id') %>：<%= @post.product.category.name %></p>
    </span>
  </div>
</div>

<% if @post.image.attached? %>
  <div class="flex flex-col items-center gap-4">
    <div class="p-4 flex flex-col items-center">
      <%= @post.decorate.post_image(class: "w-30 h-30 md:w-40 md:h-40") %>
      <p class="mt-2 text-sm text-neutral"><%= t('posts.edit.uploaded_image') %></p>
    </div>

    <div class="form-control w-full max-w-xs">
      <label class="label">
        <span class="label-text text-sm p-1"><%= t('posts.edit.replace_image') %></span>
      </label>
      <%= f.file_field :image,
          class: "file-input file-input-accent file-input-md text-base-300" %>
    </div>
  </div>
<% else %>
  <div class="form-control">
    <div class="flex flex-col items-center">
      <%= f.label :image, t('activerecord.attributes.product.image'), class: "label p-2 text-neutral" %>
      <%= f.file_field :image,
          class: "file-input file-input-accent file-input-md text-base-300" %>
    </div>
  </div>
<% end %>
