<%= f.hidden_field :product_id, value: @post.product.id %>
<div class="flex flex-col sm:flex-row items-center sm:items-start justify-center text-center w-full gap-2 py-2 sm:gap-4">
  <!-- 画像 -->
  <figure x-data="{ imageLoaded: false }"
          x-init="imageLoaded = $el.querySelector('img')?.complete || false">
    <div x-cloak x-show="!imageLoaded" class="flex animate-pulse space-x-4">
      <div class="flex flex-col items-center">
        <div class="size-20 sm:size-30 rounded-xl bg-stone-300"></div>
      </div>
    </div>

    <div x-show="imageLoaded" x-transition>
      <div class="flex flex-col items-center">
        <%= @post.product.decorate.product_image(
              class: "size-20 sm:size-30",
              "@load" => "imageLoaded = true",
              "@error"=> "imageLoaded = true"
            ) %>
      </div>
    </div>
  </figure>

  <!-- 商品情報 -->
  <div class="flex justify-center w-full sm:w-auto pt-2 sm:pt-3">
    <div class="py-2 px-3 sm:py-3 rounded-4xl text-sm text-neutral w-auto w-max-64 sm:w-max-xs ring-stone-300 ring-2">
      <span class="text-left inline-block leading-loose">
        <p class="max-w-[200px] sm:max-w-xl"><%= t('activerecord.attributes.product.name') %>：<%= @post.product.name %></p>
        <p><%= t('activerecord.attributes.product.manufacturer') %>：<%= @post.product.manufacturer %></p>
        <p><%= t('activerecord.attributes.product.category_id') %>：<%= @post.product.category.name %></p>
      </span>
    </div>
  </div>
</div>

<%= render "visibility_setting", f: f %>

<% if @post.image.attached? %>
  <div class="flex flex-col items-center gap-4">
    <figure x-data="{ imageLoaded: false }" 
            x-init="$nextTick(() => { 
              const img = $el.querySelector('img');
              if (img?.complete) imageLoaded = true;
            })"
            class="p-4 flex flex-col items-center">
      <div x-cloak x-show="!imageLoaded" class="flex animate-pulse space-x-4">
        <div class="size-30 rounded-xl bg-stone-300"></div>
      </div>

      <div x-show="imageLoaded" x-transition>
        <%= @post.decorate.post_image(
              class: "size-30",
              "x-on:load": "imageLoaded = true",
              "x-on:error": "imageLoaded = true"
            ) %>
      </div>

      <p class="mt-2 text-sm text-neutral">
        <%= t('posts.edit.uploaded_post_image') %>
      </p>
    </figure>

    <div class="form-control w-full max-w-xs">
      <label class="label">
        <span class="label-text text-neutral text-base pb-1"><%= t('posts.edit.replace_post_image') %></span>
      </label>
      <%= f.file_field :image,
          class: "file-input file-input-secondary file-input text-base-300" %>
      <div class="flex items-center justify-center flex-col text-xs text-stone-400 pb-4">
        <%= t('defaults.image_upload_limit') %>
      </div>
    </div>
  </div>
<% else %>
<div class="form-control">
  <div class="flex flex-col items-center py-2 gap-1">
    <div class="flex flex-row items-center">
      <%= f.label :image, t('activerecord.attributes.product.image'), class: "label p-2 text-neutral" %>
      <div class="dropdown dropdown-top dropdown-hover sm:pl-1">
        <div tabindex="0" role="button" class="btn btn-xs btn-white/80 btn-circle">?</div>
        <ul tabindex="0" class="dropdown-content menu bg-base-100 text-base-300 rounded-box z-1 w-35 sm:w-40 p-1 shadow-sm text-xs">
          <li><a class="p-1 sm:px-2 sm:py-1"><%= t('defaults.dropdown.no_post_image') %></a></li>
        </ul>
      </div>
    </div>
    <div class="flex flex-col items-center">
      <%= f.file_field :image,
          class: "file-input file-input-secondary text-base-300" %>
      <div class="flex items-center justify-center flex-col text-xs text-stone-400 p-0.5">
        <%= t('defaults.image_upload_limit') %>
      </div>
    </div>
  </div>
</div>

<% end %>
