<div class="justify-center text-center rounded-4xl m-4">

  <%= form_with model: @post, local: true, class: "p-4 md:p-2 space-y-6" do |f| %>
    <% if @post.errors.any? %>
      <div class="error-messages text-error bg-base-100 p-2 md:p-4 rounded-4xl ring-2 ring-error">
        <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%# --- 商品情報 --- %>
    <%= f.fields_for :product do |p| %>
      <div class="form-control">
        <% if f.object.new_record? && @post.product.new_record? %>
          <%= p.label :image, t('activerecord.attributes.product.image'), class: "label p-2 text-neutral" %>
          <%= p.file_field :image,
              class: "block w-full max-w-xs mx-auto text-sm text-base-300
                      file:mr-4 file:py-2 file:px-2 bg-base-100 rounded-xl 
                      ring-2 ring-[var(--color-base-400)]
                      file:rounded-l-lg
                      file:text-sm
                      file:bg-accent file:transition file:duration-200 file:hover:brightness-96
                      file:text-neutral
                      cursor-pointer" %>
        <% else %>
          <% if @post.product.image.attached? &&
                @post.product.image.blob.present? &&
                @post.product.image.blob.persisted? &&
                @post.product.image.filename.to_s != "default.png" %>
            <div class="flex justify-center">
              <%= image_tag @post.product.image.variant(resize_to_fill: [400, 400], format: :webp, saver: { quality: 85 }),
                            class: "w-50 h-50 object-cover" %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <!-- 既存商品の場合 -->
    <% if @post.product.persisted? %>
      <%= f.hidden_field :product_id, value: @post.product.id %>
      <div class="bg-base-100 p-4 rounded-4xl text-sm text-neutral">
      <span class="text-left inline-block leading-loose">
        <p><%=t('activerecord.attributes.product.name') %>：<%= @post.product.name %></p>
        <p><%=t('activerecord.attributes.product.manufacturer') %>：<%= @post.product.manufacturer %></p>
        <p><%=t('activerecord.attributes.product.category_id') %>：<%= @post.product.category.name %></p>
      </span>
      </div>
    <% else %>

    <!-- 新規商品の場合 -->
    <%= f.fields_for :product do |p| %>
      <div class="form-control">
        <div class="label p-2 text-neutral flex justify-center items-center space-x-1">
          <%= p.label :name %>
          <span class="text-error">*</span>
        </div>
        <%= p.text_field :name, class: "input input-bordered" %>
      </div>

      <div class="form-control">
        <div class="label p-2 text-neutral flex justify-center items-center space-x-1">
          <%= p.label :manufacturer %>
          <span class="text-error">*</span>
        </div>
        <%= p.select :manufacturer,
              options_for_select(I18n.t("products.manufacturers.list"), @post.product.manufacturer),
              { prompt: t("posts.select.manufacturer") },
              class: "select select-bordered" %>
      </div>

      <div class="form-control">
        <div class="label p-2 text-neutral flex justify-center items-center space-x-1">
          <%= p.label :category_id %>
          <span class="text-error">*</span>
        </div>
        <%= p.select :category_id,
              options_from_collection_for_select(Category.all, :id, :name, @post.product.category_id),
              { prompt: t("posts.select.category") },
              class: "select select-bordered" %>
      </div>
    <% end %>
  <% end %>

    <div class="form-control">
      <div class= "label p-2 text-neutral flex justify-center items-center space-x-1" >
        <%= f.label :sweetness_rating %>
        <span class="text-error">*</span>
      </div>
      <div class="flex flex-wrap justify-center gap-4 bg-base-100 p-2 md:p-5 rounded-4xl ring-2 ring-[var(--color-base-400)]">
        <%
          rating_images = {
            "lack_of_sweetness" => "smiley-meh.svg",
            "could_be_sweeter" => "smiley-blank.svg",
            "perfect_sweetness" => "smiley-wink.svg",
            "slightly_too_sweet" => "smiley-nervous.svg",
            "too_sweet" => "smiley-x-eyes.svg"
          }

          hover_colors = {
            "lack_of_sweetness" => "hover:bg-accent",
            "could_be_sweeter" => "hover:bg-accent", 
            "perfect_sweetness" => "hover:bg-primary",
            "slightly_too_sweet" => "hover:bg-secondary",
            "too_sweet" => "hover:bg-secondary"
          }

          selected_colors = {
            "lack_of_sweetness" => "peer-checked:bg-accent",
            "could_be_sweeter" => "peer-checked:bg-accent",
            "perfect_sweetness" => "peer-checked:bg-primary", 
            "slightly_too_sweet" => "peer-checked:bg-secondary",
            "too_sweet" => "peer-checked:bg-secondary"
          }
        %>

        <% Post.sweetness_ratings.keys.each do |rating_key| %>
          <label class="flex flex-col items-center basis-1/3 sm:basis-auto cursor-pointer sweetness-rating-option" 
                data-value="<%= rating_key %>">
           <%= f.radio_button :sweetness_rating, rating_key,
            class: "hidden peer sweetness-radio",
            checked: (f.object.sweetness_rating.to_s == rating_key) %>
            <span class="rating-indicator p-2 rounded-full transition-all duration-200 <%= hover_colors[rating_key] %> ">
              <%= image_tag rating_images[rating_key], class: "icon-size pointer-events-none" %>
            </span>
            <div class="text-sm text-center whitespace-pre-line pointer-events-none">
              <%= t("enums.post.sweetness_rating.#{rating_key}") %>
            </div>
          </label>
        <% end %>
      </div>
    </div>

    <%= f.fields_for :post_sweetness_score do |s| %>
      <div class="pb-1">
        <%= t("activerecord.attributes.post.post_sweetness_score") %>
      </div>
      <div class="flex flex-wrap justify-center gap-4 bg-base-100 p-2 rounded-4xl ring-2 ring-[var(--color-base-400)]">
        <div class="mx-auto space-y-6 p-4 sm:space-y-0 sm:table w-full">
          <% {
            sweetness_strength: "#{t('activerecord.attributes.sweetness_strength')} :",
            aftertaste_clarity: "#{t('activerecord.attributes.aftertaste_clarity')} :",
            natural_sweetness: "#{t('activerecord.attributes.natural_sweetness')} :",
            coolness: "#{t('activerecord.attributes.coolness')} :",
            richness: "#{t('activerecord.attributes.richness')} :",
          }.each do |field, label| %>
            <div class="sm:table-row">
              <div class="sm:mb-0 sm:table-cell p-1 sm:pr-4 sm:text-right">
                <%= label %>
              </div>
              <div class="sm:table-cell text-center">
                <div class="rating rating-lg flex justify-center space-x-2 gap-2">
                  <%= s.hidden_field field, value: 1 %>
                  <% (1..5).each do |i| %>
                    <%= s.radio_button field, i, 
                        class: "mask mask-star-2 bg-secondary md:hover:bg-secondary p-4",
                        checked: (s.object.send(field).presence || 1) == i %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="form-control">
      <%= f.label :review, t('activerecord.attributes.post.review'), class: "label p-2 text-neutral" %>
      <%= f.text_area :review, rows: 4, class: "textarea textarea-bordered w-full", placeholder: t('posts.form.post_placeholders') %>     
    </div>

    <div class="form-control p-6">
      <%= f.submit f.object.new_record? ? t('helpers.submit.post') : t('helpers.submit.update'),
            class: "bg-primary button-primary" %>
    </div>
  <% end %>
</div>
