<div class="w-full py-1 md:py-3 md:px-2">
  <!-- カード -->
  <div class="card bg-base-100 p-2 shadow-sm min-h-52 rounded-4xl flex flex-col relative">
    <!-- ユーザー情報 -->
    <div class="flex flex-col pl-2 md:pl-6 text-sm">
      <%= link_to user_path(post.user), class: "flex items-center md:gap-2 hover:opacity-70" do %>
        <%= post.user.decorate.avatar_image(class: "w-8 h-8 md:w-10 md:h-10") %>

        <div class="flex flex-col p-2 md:p-1 gap-1 md:gap-2">
          <%= post.user.name %>

          <!-- バッジ -->
          <div class="flex flex-row gap-1 flex-wrap">
            <span class="flex flex-row gap-1 text-[11px] md:text-xs rounded-full px-2 py-1 bg-success w-fit whitespace-nowrap">
              <%= image_tag "badge.svg", class: "h-5 w-5" %>
              <%= display_post_badge(post.user) %>
            </span>

            <% if user_signed_in? && post.user != current_user && sweetness_twin?(post.user) %>
              <span class="flex flex-row gap-1 text-[11px] md:text-xs rounded-full px-2 py-1 bg-primary w-fit">
                <%= image_tag "handshake.svg", class: "h-4 w-4" %>
                <%= display_sweetness_twin_badge(post.user) %>
              </span>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>


    <!-- 投稿情報 -->
    <div class="flex flex-row gap-2 items-start md:px-4 w-full">
      <!-- 画像 -->
      <figure class="flex-shrink-0">
        <% if post.image.attached? %>
          <div class="aspect-square overflow-hidden p-2 md:p-3">
            <%= post.decorate.post_image(class: "w-20 h-20 md:w-30 md:h-30") %>
          </div>
        <% else %>
          <div class="aspect-square overflow-hidden p-2 md:p-3">
            <%= post.product.decorate.product_image(class: "w-20 h-20 md:w-30 md:h-30") %>
          </div>
        <% end %>
      </figure>

      <div class="flex flex-col items-start flex-1 min-w-0 hover:opacity-70 w-full pb-3 md:pb-6">
        <!-- 投稿情報 -->
        <div class="flex-1 min-w-0 flex flex-col text-neutral justify-between w-full">
          <%= link_to post_path(post) do %>
            <div class="flex items-center justify-between py-1 text-base-300 text-xs w-full">
              <%= post.product.manufacturer %>
            </div>
            <div class="mb-1 md:mb-3 w-full">
              <div class="card-title text-base md:text-lg line-clamp-2">
                <%= post.product.name %>
              </div>
            </div>
        </div>

        <!-- あまピタ評価 -->
        <div class="flex-shrink-0 w-full max-w-full">
          <% rating_images = {
            "lack_of_sweetness" => "smiley-meh.svg",
            "could_be_sweeter" => "smiley-blank.svg",
            "perfect_sweetness" => "smiley-wink.svg",
            "slightly_too_sweet" => "smiley-nervous.svg",
            "too_sweet" => "smiley-x-eyes.svg"
          } %>

          <% bg_colors = {
            "lack_of_sweetness" => "bg-accent",
            "could_be_sweeter" => "bg-accent",
            "perfect_sweetness" => "bg-primary",
            "slightly_too_sweet" => "bg-secondary",
            "too_sweet" => "bg-secondary"
          } %>

          <div class="inline-flex items-center rounded-xl gap-2 px-3 py-2 md:py-2 md:px-4 text-neutral text-sm md:text-base <%= bg_colors[post.sweetness_rating] %> w-fit max-w-full overflow-hidden">
            <%= image_tag rating_images[post.sweetness_rating], class: "h-7 w-7 md:h-8 md:w-8" %>
            <p><%= I18n.t("enums.post.sweetness_rating.#{post.sweetness_rating}") %></p>
          </div>
        </div>
         <div class="py-3 pr-8 text-xs md:text-sm truncate max-w-48 sm:max-w-xs
            <%= post.review.present? ? '' : 'md:h-10 invisible' %>">
            <%= post.review %>
          </div>
        <% end %>
      </div>
    </div>


    <!-- 編集・削除ボタン -->
    <% if user_signed_in? && current_user.own?(post) %>
      <div class="dropdown dropdown-bottom dropdown-end absolute top-2 right-2 z-10">
        <div tabindex="0" role="button" class="btn btn-lg btn-square btn-ghost hover:bg-[var(--color-base-400)]">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none"
               viewBox="0 0 24 24" class="inline-block h-7 w-7 text-base-300 stroke-current">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M5 12h.01M12 12h.01M19 12h.01
                     M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"></path>
          </svg>
        </div>

        <ul tabindex="0" class="dropdown-content menu bg-white rounded-box w-25 p-2 shadow-sm text-xs md:text-sm flex flex-col text-center gap-2">
          <li>
            <%= link_to edit_post_path(post), data: { turbo: false } do %>
              <%= t('helpers.submit.edit') %>
            <% end %>
          </li>
          <li>
            <%= link_to post_path(post), class: "text-error",
                  data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } do %>
              <%= t('helpers.submit.delete') %>
            <% end %>
          </li>
        </ul>
      </div>
    <% end %>

    <span class="absolute bottom-2 right-5 text-base-200 text-xs md:text-sm">
      <%= time_ago_in_words(post.created_at) %>前
    </span>
  </div>
</div>
