<div class="w-full p-3">
  <!-- カード -->
  <div class="card bg-base-200 p-4 md:px-4 md:py-5 shadow-sm min-h-52 rounded-4xl flex flex-col md:flex-row relative">
    
    <!-- 画像 -->
    <figure class="flex-shrink-0 w-full md:w-52">
      <div class="aspect-square overflow-hidden rounded-none">
        <% if post.image.attached? %>
          <%= image_tag post.image.variant(resize_to_fill: [400, 400], format: :webp, saver: { quality: 85 }), class: "w-45 h-45 object-cover" %>
        <% else %>
          <%= image_tag "default_image.png", class: "w-45 h-45 object-cover" %>
        <% end %>
      </div>
    </figure>
    
    <!-- 投稿情報 -->
    <div class="card-body flex-1 min-w-0 flex py-2 flex-col text-neutral justify-between">
      <div class="flex-1">
        <p class="text-sm mb-2">
          <%= post.user.name %> ｜ <%= time_ago_in_words(post.created_at) %>前
        </p>
        <%= link_to post_path(post) do %>
        <div class="flex items-center justify-between mb-3 text-base-300"><%= post.manufacturer %></div>
          <div class="flex items-center justify-between mb-3">
            <div class="card-title text-md md:text-lg line-clamp-2"><%= post.product_name %></div>
          </div>
        <% end %>
        <p class="text-sm"><%= truncate(post.review, length: 25, omission: '...') %></p>
      </div>

      <!-- 評価部分 -->
      <div class="flex-shrink-0 mt-3">
        <% rating_images = {
          "lack_of_sweetness" => "smiley-meh.svg",
          "could_be_sweeter" => "smiley-blank.svg",
          "perfect_sweetness" => "smiley-wink.svg",
          "slightly_too_sweet" => "smiley-nervous.svg",
          "too_sweet" => "smiley-x-eyes.svg"
        } %>

        <% bg_colors = {
          "lack_of_sweetness" => "bg-accent",
          "could_be_sweeter" => "bg-accent",
          "perfect_sweetness" => "bg-primary",
          "slightly_too_sweet" => "bg-secondary",
          "too_sweet" => "bg-secondary"
        } %>

        <div class="inline-flex items-center rounded-2xl p-2 gap-2 py-3 px-4 text-neutral text-base <%= bg_colors[post.sweetness_rating] %>">
          <%= image_tag rating_images[post.sweetness_rating], class: "h-8 w-8" %>
          <p><%= I18n.t("enums.post.sweetness_rating.#{post.sweetness_rating}") %></p>
        </div>
      </div>

      <!-- 編集・削除ボタン -->
      <% if user_signed_in? && current_user.own?(post) %>
        <div class="flex justify-end gap-4 mt-4 md:mt-0">
          <%= link_to edit_post_path(post), class: "text-sm ring-accent action-button", data: { turbo: false } do %>
            編集
          <% end %>
          <%= link_to post_path(post), class: "text-sm ring-secondary action-button", data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } do %>
            削除
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
