<div class="max-w-2xl md:max-w-7xl 2xl:max-w-screen-2xl mx-auto items-center">
  <!-- タブ切替用ラジオ -->
  <input type="radio" name="posts_tab" id="radio-new" class="hidden" <%= params[:tab] != 'recommend' ? 'checked' : '' %>>
  <input type="radio" name="posts_tab" id="radio-recommend" class="hidden" <%= params[:tab] == 'recommend' ? 'checked' : '' %>>

  <!-- 検索フォーム -->
  <div class="w-full max-w-xl mx-auto pb-1 sm:py-3">
    <div id="search-form-new" class="<%= params[:tab] == 'recommend' ? 'hidden' : '' %>">
      <%= form_with url: posts_path, method: :get, local: true do |f| %>
        <%= hidden_field_tag :tab, 'new' %>
        <%= render 'search_form', f: f, q_new: @q_new %>
      <% end %>
    </div>

    <div id="search-form-recommend" class="<%= params[:tab] == 'recommend' ? '' : 'hidden' %>">
      <% if user_signed_in? %>
        <%= form_with url: posts_path, method: :get, local: true do |f| %>
          <%= hidden_field_tag :tab, 'recommend' %>
          <%= render 'search_form_recommend', f: f, q_recommend: @q_recommend %>
        <% end %>
      <% end %>
    </div>
  </div>

  <!-- タブ -->
  <div class="flex justify-center gap-5 sm:gap-7 tabs-labels p-2 text-center w-full">
    <a href="<%= posts_path(tab: 'new') %>" 
      class="cursor-pointer button-secondary 
              <%= params[:tab] != 'recommend' ? 'bg-white/80 ring-accent' : 'bg-stone-300 ring-base-300/60' %>">
      <div class="flex flex-row items-center justify-center gap-1">
        <span class="pt-2 sm:pt-0"><%= image_tag "cookie.svg", class: "h-5 w-5 md:h-6 md:w-6" %></span>
        <span class="pt-2 sm:pt-0"><%= t('.new_post') %></span>
      </div>
    </a>

    <% if user_signed_in? %>
      <a href="<%= posts_path(tab: 'recommend') %>"
        class="relative cursor-pointer button-secondary 
                <%= params[:tab] == 'recommend' ? 'bg-white/80 ring-primary' : 'bg-stone-300 ring-base-300/60' %>">
        <div class="flex flex-row items-center gap-1">
          <%= image_tag "handshake.svg", class: "h-5 w-5 md:h-6 md:w-6" %>
          甘さツインの<br class="md:hidden">あまピタ評価
        </div>
      </a>

    <% else %>
      <div class="relative group">
        <span class="button-secondary ring-base-200 bg-base-200 select-none block tooltip tooltip-top"
              data-tip="<%= t('defaults.require_login') %>">
          <div class="flex flex-row items-center gap-1 opacity-70">
            <%= image_tag "handshake.svg", class: "h-5 w-5 md:h-6 md:w-6" %>
            甘さツインの<br class="md:hidden">あまピタ評価
          </div>
        </span>
      </div>
    <% end %>
  </div>

  <!-- 投稿一覧 -->
  <div class="w-full tabs-content sm:px-20 lg:px-52 xl:px-32 2xl:px-0">
    <!-- 新着 -->
    <div id="tab-new-content" class="tab-panel w-full <%= params[:tab] == 'recommend' ? 'hidden' : '' %>">
      <% if @new_posts.present? %>
        <div class="grid gap-y-1 xl:grid-cols-2 xl:gap-y-1 xl:gap-x-1 2xl:grid-cols-3 justify-items-center">
          <%= render @new_posts %>
        </div>

        <div class="flex items-center justify-center p-4">
          <%== pagy_nav(@pagy_new) %>
        </div>
      <% else %>
        <div class="flex flex-col justify-center gap-1 md:gap-5 p-2 md:p-6 items-center text-center text-sm">
          <%= image_tag "smiley-x-eyes-fill.svg", class: "size-15 md:size-18" %>
          <span><%= t('defaults.message.no_post') %></span>
          <span><%= t('defaults.message.post_search_suggestion') %></span>
        </div>
      <% end %>
    </div>

    <!-- おすすめ一覧 -->
    <div id="tab-recommend-content" class="tab-panel w-full <%= params[:tab] == 'recommend' ? '' : 'hidden' %>">
      <% case recommend_state(current_user, @recommended_posts) %>
      <% when :not_diagnosed %>
        <div class="flex flex-col justify-center text-stone-500 leading-relaxed py-6 sm:py-8 items-center text-center text-sm sm:text-base">
          <div class="flex items-center justify-center text-neutral py-2">
            <span> "ちょうどいい甘さ"の体験を楽しもう</span>
            <%= image_tag "smiley-wink.svg", class: "size-6" %>
          </div>
          <div class="py-2 leading-relaxed">甘さ感覚診断を行うと、<span class="inline"><br></span>好みの甘さ感覚が近いユーザー
            <span class="md:hidden"><br></span>『 甘さツイン 』と出会えます✧*
          </div>
          <div class="flex flex-col py-4 sm:py-6 items-center">
            <%= link_to t('defaults.buttons.take_diagnosis'), new_diagnosis_path,
                class: "btn btn-accent text-base text-neutral" %>
              <div class="text-stone-400 text-sm pt-4 sm:pt-6 items-center">
                <%= raw t('defaults.message.general_notice') %>
              </div>
          </div>
      </div>
      <% when :twin_with_posts %>
        <div class="grid gap-y-2 xl:grid-cols-2 xl:gap-y-1 xl:gap-x-1 2xl:grid-cols-3 justify-items-center">
          <%= render @recommended_posts %>
        </div>
        <div class="flex items-center justify-center p-4">
          <%== pagy_nav(@pagy_recommend) %>
        </div>
      <% when :twin_without_posts %>
        <div class="flex flex-col justify-center gap-8 py-6 sm:py-8 items-center text-center text-sm leading-relaxed">
          <%= image_tag "moon.svg", class: "size-15 md:size-18" %>
          <div class="mb-3"><%= raw t('.message.twin_without_posts') %></div>
        </div>
      <% when :no_twin %>
        <div class="flex flex-col justify-center gap-6 py-6 sm:py-8 items-center text-center text-sm leading-relaxed">
          <%= image_tag "moon.svg", class: "size-15 md:size-18" %>
          <div class="mb-3 leading-relaxed"><%= raw t('.message.no_twins') %></div>
        </div>
      <% else %>
        <div class="flex flex-col justify-center gap-6 py-6 sm:py-8 items-center text-center text-sm leading-relaxed">
          <%= image_tag "smiley-x-eyes-fill.svg", class:"size-15 md:size-18" %>
          <div class="mb-3"><%= t('defaults.message.no_post') %></div>
        </div>
      <% end %>
    </div>
  </div>

</div>