<%= render 'search_form', q: @q, url: posts_path %>

<div class="flex flex-col md:flex-row justify-center items-center text-center text-base md:text-xl p-6 gap-10">
  <% options = [
    { value: "new", label: "新着のあまピタ評価" },
    { value: "recommend", label: raw('あなたにオススメ！<br><span class="text-sm text-error">※ 準備中</span>'), img: "smiley-wink.svg"}
  ] %>

  <% options.each_with_index do |opt, idx| %>
    <label class="cursor-pointer <%= 'opacity-60 pointer-events-none' if opt[:value] == 'recommend' %>">
      <%= tag.input type: "radio",
                    name: "tab",
                    value: opt[:value],
                    class: "hidden peer",
                    checked: idx.zero?,
                    disabled: (opt[:value] == 'recommend') %>
      <div class="rounded-2xl px-5 py-3 md:px-8 text-neutral ring-4 transition duration-200
                  peer-checked:ring-accent peer-checked:bg-base-100
                  ring-base-300 bg-[var(--color-base-400)]">
        <% if opt[:img] %>
          <%= image_tag opt[:img], class: "h-8 w-8 inline-block mr-2" %>
        <% end %>
        <%= opt[:label] %>
      </div>
    </label>
  <% end %>
</div>

<div class="flex flex-col p-2 mx-auto items-center justify-center max-w-2xl">
  <% if @posts.present? %>
    <%= render @posts %>
  <% else %>
    <div class="mb-3">投稿がありません</div>
  <% end %>
</div>