<div class="p-1 md:p-4">
  <div class="flex flex-col p-1 items-center justify-center w-full max-w-3xl mx-auto bg-base-100 rounded-4xl">
    <h1 class="text-center text-lg md:text-xl p-2 md:p-4 border-b border-base-200 w-full">
      <%= t('.title') %>
    </h1>

    <div class="py-5 md:py-10">
      <div class="grid grid-cols-2 md:grid-cols-3 gap-8 md:gap-10 items-center justify-center">
        <%= category_card(category: "gummy-jelly", name: t('categories.gummy'), subname: t('categories.jelly')) %>
        <%= category_card(category: "chocolate", name: t('categories.chocolate')) %>
        <%= category_card(category: "cookie-biscuit", name: t('categories.cookie')) %>
        <%= category_card(category: "bread-doughnut", name: t('categories.doughnut')) %>
        <%= category_card(category: "ice-cream", name: t('categories.ice_cream')) %>
        <%= category_card(category: "drink", name: t('categories.drink')) %>
        <%= category_card(category: "cake", name: t('categories.cake')) %>
        <%= category_card(category: "snack", name: t('categories.snack')) %>
        <%= category_card(category: "other", name: t('categories.other'), extra_class: "col-span-2 md:col-span-1") %>
      </div>
    </div>
  </div>
</div>
