<div class="p-1 md:p-4">
  <div class="flex flex-col p-2 items-center justify-center max-w-3xl mx-auto bg-base-100 rounded-4xl">
    <h1 class="text-center text-md md:text-2xl p-4 border-b border-base-200 w-full">
      <%= t('.title') %>
    </h1>

    <%= render 'shared/search_form', q: @q %>

    <% if @products.present? %>
      <% @products.each do |product| %>
        <div class="py-1 border-b border-base-200 last:border-b-0 max-w-3xl">
          
            <div class="flex flex-row items-center md:items-start pt-4">
              <!-- 画像 -->
              <% if product.decorate.product_image.present? %>
              <figure class="flex-shrink-0 p-1 md:p-4">
                <%= product.decorate.product_image(class: "w-25 h-25 md:w-30 md:h-30") %>
              </figure>
              <% else %>
              <figure class="flex-shrink-0 p-1 md:p-4">
                  <%= image_tag product.product_image_url,
                    class: "product-image w-25 h-25",
                    alt: @product&.name || "商品画像",
                    onerror: "this.src='#{asset_path('default_image.png')}'" %>
              </figure>
              <% end %>
              <!-- 商品情報 -->
              <%= product_link_or_tooltip(@category, product, class: "hover:opacity-70") do %>
              <div class="relative flex-1 w-full flex flex-col items-center md:items-start gap-2 md:gap-4 p-2">
                <p class="text-xs md:text-base text-base-300 text-center md:text-left">
                  <%= product.manufacturer %>
                </p>
                <p class="text-sm md:text-xl font-semibold text-center md:text-left">
                  <%= product.name %>
                </p>
                <div class="absolute top-8 sm:top-13 right-1">
                  <span class="gap-1">
                    <%= image_tag "arrow.svg", class: "h-6 w-6 ml-1" %>
                  </span>
                </div>
                <% stats = @product_stats&.dig(product.id) || { total_posts: 0, perfect_sweetness_count: 0 } %>

                <% if stats[:total_posts].positive? %>
                  <!-- あまピタカウント -->
                  <div class="px-1 py-2">
                    <div class="flex flex-col md:flex-row items-center gap-1 w-fit justify-center 
                                md:justify-start amapita-count-ring ring-primary">
                      <%= image_tag "smiley-wink.svg", class: "h-8 w-8" %>
                      <p class="text-sm md:text-base pb-1">
                        <%= t("defaults.label.stats", count: stats[:total_posts], perfect: stats[:perfect_sweetness_count]) %>
                      </p>
                    </div>
                  </div>
                <% else %>
                  <div class="p-1">
                    <div class="flex flex-col md:flex-row items-center gap-1 w-fit justify-center 
                                md:justify-start amapita-count-ring ring-base-200">
                      <%= image_tag "smiley-blank.svg", class: "h-8 w-8" %>
                      <p class="text-sm md:text-base">
                        <%= raw t('defaults.label.no_rating') %>
                      </p>
                    </div>
                    <!-- 投稿画面へ遷移 -->
                    <% if show_new_post_button?(product) %>
                    <div class="mt-4 md:mt-6 text-center">
                      <%= link_to new_post_path(product_id: product.id),
                                  class: "bg-success rounded-full px-3 py-1 md:px-4 py-3
                                          inline-flex items-center shadow-sm transition hover-animation" do %>
                        <span class="text-xs md:text-sm">
                          <%= t('defaults.buttons.new_post') %>
                        </span>
                      <% end %>
                    </div>
                   <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>


      <div class="flex justify-center pt-6 md:pt-8">
        <%== pagy_nav(@pagy) %>
      </div>

    <% else %>
      <div class="flex flex-row text-center items-center justify-center text-neutral gap-1">
        <%= t('.product_not_found') %>
        <%= image_tag "smiley-x-eyes.svg", class: "h-8 w-8" %>
      </div>
    <% end %>

    <!-- 商品登録&投稿画面へ遷移 -->
    <div class="m-6 sm:m-8 text-center">
      <%= new_product_link_or_tooltip(class: "bg-success rounded-full px-4 py-3 sm:px-6 
                          inline-flex items-center gap-3 shadow-sm transition hover-animation") do %>
      <%= image_tag "smiley-wink.svg", class: "h-9 w-9" %>
      <span class="text-xs md:text-sm">
        <%= raw t('.product_register_suggestion') %>
      </span>
    <% end %>

    </div>
  </div>
</div>
