<div class="p-1 sm:p-4 pb-16 sm:pb-4">
  <div class="flex flex-col p-1 lg:p-4 items-center justify-center w-full max-w-4xl mx-auto bg-base-100 rounded-4xl">
    <div class="relative w-full border-b border-base-200">
      <%= link_to back_to_list_path(@product),
        class: "absolute left-0 md:left-2 top-1/2 -translate-y-1/2 md:hover:bg-stone-200/80 duration-300 rounded-full p-2" do %>
        <%= image_tag "arrow-circle-left.svg", class: "h-7 w-7 sm:h-8 sm:w-8" %>
        </button>
      <% end %>
      <h1 class="text-center text-lg md:text-xl p-2 md:p-4">
        <%= t('products.show.title') %>
      </h1>
    </div>

    <div class="flex justify-center flex-row items-start w-full pb-2 sm:gap-4">
      <!-- 商品画像とURL -->
      <div class="flex flex-col items-center gap-6 sm:gap-2 flex-shrink-0">

      <figure x-data="{ imageLoaded: false }"
              x-init="imageLoaded = $el.querySelector('img')?.complete || false">
        <div x-cloak x-show="!imageLoaded" class="flex animate-pulse space-x-4">
          <div class="pt-6 px-4 sm:p-4">
            <div class="size-25 sm:size-35 rounded-xl bg-stone-300"></div>
          </div>
        </div>
        <div x-show="imageLoaded" x-transition>
          <div class="pt-6 px-4 sm:p-4">
            <%= @product.decorate.product_image(
                  class: "size-25 sm:size-35 object-contain",
                  "@load" => "imageLoaded = true",
                  "@error"=> "imageLoaded = true"
                ) %>
          </div>
        </div>
      </figure>

      <% if @product.product_url.present? %>
        <%= link_to @product.product_url,
            target: "_blank",
            rel: "noopener noreferrer",
            class: "inline-flex items-start sm:items-center gap-1 underline text-sm text-secondary hover:opacity-80" do %>
          <%= image_tag "shopping-cart.svg", class: "h-6 w-6" %>
          <span><%= t('defaults.link.product_url') %></span>
        <% end %>
      <% end %>
    </div>

    <div class="relative flex flex-col justify-start items-center sm:items-start text-neutral py-4 md:px-0">
      <div class="flex flex-col items-center sm:items-start w-full">
        <div class="flex items-center pl-1 justify-between w-full">
          <div class="text-xs sm:text-sm text-base-300 max-w-sm pb-1">
            <%= @product.manufacturer %>
          </div>
          <% if user_signed_in? %>
            <div class="absolute top-1 right-0">
              <%= render 'bookmark_buttons', { product: @product } %>
            </div>
          <% end %>
        </div>
        <div class="text-sm md:text-lg px-1 sm:px-0 max-w-sm pt-1 pb-2 text-center sm:text-left">
          <%= @product.name %>
        </div>
      </div>

        <!-- あまピタカウント -->
        <div class="w-full sm:w-fit md:w-auto flex flex-col items-center justify-center md:block text-sm md:text-base pt-2">
          <% if @product.total_posts.zero? %>
            <div class="flex flex-row ring-stone-300/90 amapita-count-ring">
              <%= image_tag "smiley-blank.svg", class: "h-7 w-7 sm:h-8 sm:w-8" %>
              <%= t('defaults.label.no_rating') %>
            </div>
          <% else %>
            <div class="flex flex-col sm:flex-row ring-primary amapita-count-ring gap-1 sm:gap-2">
              <%= image_tag "smiley-wink.svg", class: "h-7 w-7 sm:h-8 sm:w-8" %>
              <p><%= t("defaults.label.stats", count: @product.total_posts, perfect:@product.perfect_sweetness_count) %></p>
            </div>
          <% end %>

          <!-- レビュー投稿ボタン -->
          <% if show_new_post_button?(@product) %>
            <div class="hidden sm:block text-center pt-4 sm:pt-6">
              <% if user_signed_in? %>
                <%= link_to new_post_path(product_id: @product.id),
                    class: "bg-info button-primary inline-flex items-center justify-center shadow-sm hover-animation gap-1" do %>
                  <%= image_tag "cookie.svg", class: "size-5 sm:size-6" %>
                  <span class="text-sm">
                    <%= t('defaults.buttons.new_post') %>
                  </span>
                <% end %>
              <% else %>
                <div class="bg-info button-primary inline-flex items-center justify-center shadow-sm hover-animation gap-1 tooltip tooltip-top"
                    data-tip="<%= t('defaults.require_login') %>">
                  <%= image_tag "cookie.svg", class: "size-5 sm:size-6" %>
                  <span class="text-sm">
                    <%= t('defaults.buttons.new_post') %>
                  </span>
                </div>
              <% end %>
            </div>
          <% end %>

          <!-- 非公開投稿の場合 -->
          <% if show_unpublish_post_link?(@user_unpublish_post) %>
            <div class="text-center pt-4">
              <%= link_to post_path(@user_unpublish_post),
                  class: "bg-success button-primary text-neutral inline-flex gap-2" do %>
                <%= image_tag "lock-key.svg", class: "h-5 w-5" %>
                <span class="text-sm">
                  <%= t('defaults.buttons.show_unpublished_post') %>
                </span>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <% if @posts.present? %>
      <div class="flex flex-col justify-center lg:flex-row items-center lg:items-start p-2 sm:px-2 sm:py-2 gap-5 w-full">
        <!-- チャート -->
        <div class="flex justify-center w-full lg:w-3/5 max-w-md">
          <div class="w-full p-1 sm:p-4 border-secondary rounded-3xl bg-white/80 ring-2 ring-stone-200/50">
            <div class="flex justify-center pb-1 text-base md:text-lg">
              <%= t('defaults.sweetness_chart') %>
            </div>
            <div class="mx-auto w-full max-w-md p-2">
              <% if user_signed_in? && @user_post.present? %>
                <% if @posts.any?(&:user) && @posts.any? { |p| p.user != current_user } %>
                  <!-- ログインユーザーと他ユーザーの投稿がある場合 -->
                  <%= render "shared/chart/sweetness_average",
                    chart_id: "averageChart",
                    user_data: [
                      @user_post.post_sweetness_score.sweetness_strength,
                      @user_post.post_sweetness_score.aftertaste_clarity,
                      @user_post.post_sweetness_score.natural_sweetness,
                      @user_post.post_sweetness_score.coolness,
                      @user_post.post_sweetness_score.richness
                    ],
                    average_data: [
                      @average_scores[:sweetness_strength],
                      @average_scores[:aftertaste_clarity],
                      @average_scores[:natural_sweetness],
                      @average_scores[:coolness],
                      @average_scores[:richness]
                    ] %>
                <% else %>
                  <!-- ログインユーザーのみ投稿している場合 -->
                  <%= render "shared/chart/sweetness_posts",
                    chart_id: "radarChart",
                    data: [
                      @user_post.post_sweetness_score.sweetness_strength,
                      @user_post.post_sweetness_score.aftertaste_clarity,
                      @user_post.post_sweetness_score.natural_sweetness,
                      @user_post.post_sweetness_score.coolness,
                      @user_post.post_sweetness_score.richness
                    ] %>
                <% end %>
              <% else %>
                <!-- ログインユーザーは未投稿で他ユーザーの投稿がある場合 -->
                <%= render "shared/chart/sweetness_average_only",
                  chart_id: "averageChartOnly",
                  data: [
                    @average_scores[:sweetness_strength],
                    @average_scores[:aftertaste_clarity],
                    @average_scores[:natural_sweetness],
                    @average_scores[:coolness],
                    @average_scores[:richness]
                  ] %>
              <% end %>
            </div>
          </div>
        </div>

        <!-- ユーザーレビュー -->
        <div class="bg-white/80 ring-2 ring-stone-200/50 py-4 px-1 w-full lg:w-3/5 max-w-xl rounded-4xl flex flex-col items-center relative">
          <div class="p-1 text-base md:text-lg"><%= t('.review') %></div>

          <% @posts.each do |post| %>
          <div class="py-4 w-full border-b border-stone-200 last:border-b-0 relative">
            <div class="flex flex-col">

              <div class="flex flex-row gap-1 items-start">
                <!-- ユーザー情報 -->
                <div class="flex flex-col items-center p-1 w-24 shrink-0 gap-1">
                  <%= post.user.decorate.avatar_image(class: "w-10 h-10") %>
                  <span class="mt-1 text-xs text-start line-clamp-3 sm:line-clamp-2 mx-1"><%= post.user.name %></span>
                </div>

                <!-- 編集・削除・いいねボタン -->
                <% if user_signed_in? && current_user.own?(post) %>
                  <div class="dropdown dropdown-left dropdown-top absolute top-3 sm:top-4 right-0 sm:right-2 pt-2 z-10">
                    <div tabindex="0" role="button" class="rounded-xl bg-stone-100 ring-2 ring-base-200 duration-200 hover:brightness-96 p-1 sm:p-2">
                      <%= image_tag "pencil.svg", class: "size-5 flex-shrink-0" %>
                    </div>

                    <ul tabindex="0" class="dropdown-content menu bg-white rounded-box w-25 p-2 shadow-sm text-xs md:text-sm flex flex-col text-center gap-2">
                      <li>
                        <%= link_to edit_post_path(post), data: { turbo: false } do %>
                          <%= t('helpers.submit.edit') %>
                        <% end %>
                      </li>
                      <li>
                        <%= link_to post_path(post), class: "text-error",
                              data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } do %>
                          <%= t('helpers.submit.delete') %>
                        <% end %>
                      </li>
                    </ul>
                  </div>
                <% elsif user_signed_in? && !post.unpublish?  %>
                  <div class="absolute top-6 right-2 z-10">
                    <%= render 'posts/like_buttons', { post: post, button_id: "like-button-#{post.id}" } %>
                  </div>
                <% end %>

                <!-- 甘さ評価 + レビュー本文 -->
                <%= link_to post_path(post), class: "flex-1 min-w-0 flex flex-col gap-1 hover:opacity-70 transition-opacity duration-200" do %>
                  <% rating_images = { 
                      "lack_of_sweetness" => "smiley-meh.svg",
                      "could_be_sweeter" => "smiley-blank.svg",
                      "perfect_sweetness" => "smiley-wink.svg",
                      "slightly_too_sweet" => "smiley-nervous.svg",
                      "too_sweet" => "smiley-x-eyes.svg" 
                    } %>

                  <% bg_colors = { 
                      "lack_of_sweetness" => "bg-accent",
                      "could_be_sweeter" => "bg-accent",
                      "perfect_sweetness" => "bg-primary",
                      "slightly_too_sweet" => "bg-secondary",
                      "too_sweet" => "bg-secondary" 
                    } %>

                  <!-- 甘さ評価 -->
                  <div class="flex items-center justify-start rounded-xl gap-1 sm:gap-2 px-2 sm:px-4 py-2.5
                              text-neutral text-sm w-fit <%= bg_colors[post.sweetness_rating] %>">
                    <%= image_tag rating_images[post.sweetness_rating], class: "h-6 w-6 sm:h-7 sm:w-7 flex-shrink-0" %>
                    <p class="truncate"><%= I18n.t("enums.post.sweetness_rating.#{post.sweetness_rating}") %></p>
                  </div>

                  <!-- レビュー -->
                  <% if post.review.present? %>
                    <div class="text-xs sm:text-sm text-neutral break-words pt-1 pb-3">
                      <p><%= truncate(post.review, length: 38, omission: '...') %></p>
                    </div>
                  <% end %>
                <% end %>
              </div>

              <div class="absolute bottom-2 right-2 text-xs text-base-200">
                <%= l post.created_at %>
              </div>
            </div>
          </div>
          <% end %>

          <div class="flex items-center justify-center p-4 w-full">
            <%== pagy_nav(@pagy) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!-- 新規投稿 -->
<%= render "float_post_button" %>
