<div class="navbar bg-base-200 shadow-sm">
  <div class="flex-1">
    <%= link_to admin_root_path, class: "inline-block px-2" do %>
      <%= image_tag "logo.webp", class: "h-12 md:h-14 w-auto" %>
    <% end %>
  </div>

  <% if user_signed_in? %>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-8">
        <li>
          <details>
              <summary>Menu</summary>
            <ul class="menu menu-sm dropdown-content bg-base-100 rounded-t-none p-2">
              <li>
                <%= link_to t('admin.products.index.title'), admin_products_path, 
                    class: 'whitespace-nowrap text-base' %>
              </li>
              <li>
                <%= link_to t('admin.products.new.title'), new_admin_product_path, 
                    class: 'whitespace-nowrap text-base' %>
              </li>
              <li>
                <%= link_to t('admin.shared.header.logout'), admin_logout_path, 
                    data: { turbo_method: :delete }, 
                    local: true,
                    class: 'whitespace-nowrap text-base' %>
              </li>
            </ul>
          </details>
        </li>
      </ul>
    </div>
  <% end %>
</div>