<!DOCTYPE html>
<html data-theme="amapita">
  <head>
    <title><%= content_for(:title) || "Myapp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap" rel="stylesheet">
    <!-- swiper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <style>
      body {
        background-image: url('<%= asset_path("bg_mobile.webp") %>');
      }

      @media (min-width: 768px) {
        body {
          background-image: url('<%= asset_path("bg_pc.webp") %>');
        }
      }
  </style>
  </head>

  <body class="min-h-screen flex flex-col bg-center bg-no-repeat bg-fixed bg-cover font-kiwi">
    <%= render 'shared/header' %>
    <main class="container flex-1 pt-20 pb-14 md:pb-20 px-4 mx-auto">
      <% if notice.present? %>
        <%= render 'shared/notice', notice: notice %>
      <% end %>
      <% if alert.present? %>
        <%= render 'shared/alert', alert: alert %>
      <% end %>
      <%= yield %>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>
